In [1]:
import datetime
import pandas as pd

In [ ]:
month_map = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
day_map = {'Sunday': 6, 'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3, 'Friday': 4, 'Saturday': 5}

In [ ]:
def clean_dates(data):
    #data['WeekOfMonth'] = data['WeekOfMonth'].replace(5, 4)
    #data['WeekOfMonthClaimed'] = data['WeekOfMonthClaimed'].replace(5, 4)

    data['DayOfWeekClaimed'] = data['DayOfWeekClaimed'].replace('0', 'Monday')
    data['WeekOfMonthClaimed'] = data['WeekOfMonthClaimed'].replace('0', 1)
    data['MonthClaimed'] = data['MonthClaimed'].replace('0', 'Jan')

    return data

In [ ]:
def map_columns(data, month_vars=[], day_vars=[]):
    for month in month_vars:
        data[month] = data[month].map(month_map)

    for days in day_vars:
        data[days] = data[days].map(day_map)

    return data

In [2]:
df = pd.read_csv('carclaims.csv')
df.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange-Claim,NumberOfCars,Year,BasePolicy,FraudFound
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability,No
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision,No
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision,No
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability,No
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,...,31 to 35,No,No,External,none,no change,1 vehicle,1994,Collision,No

In [64]:
print(df[df['Age'] > 0]['Age'].mean())
print(df[df[['Age']]>0][['Age']].mean().to_dict())

40.700331125827816
{'Age': 40.700331125827816}

In [ ]:
df_new = clean_dates(df)
df_new = map_columns(df_new, month_vars=['Month', 'MonthClaimed'], day_vars=['DayOfWeek', 'DayOfWeekClaimed'])
df_new.head()